.selector {
    border: solid 1px lightgrey;
    margin-top: 30px;
    border-radius: 5px;
    display: inline-block;
    padding: 5px;
}

.well {
    width: 30px;
    height: 30px;
    border: 1px solid gray;
    border-radius: 50%;
    float: left;
    text-align: center;
    line-height: 30px;
}

.last-column-well {
    clear: both;
}

.no-border {
    border-color: white;
}

.highlight {
    background-color: lightpink;
}