<div class="selector">
    <div *ngFor="let number of numbers" (click)="(onSelectColumn(number))"
         [ngClass]="{ 'well': true, 'last-column-well': isLastColumn(number), 'no-border': isFirstRowOrFirstColumn(number) || isExactlyFirstCell(number), 'has-border': !isFirstRowOrFirstColumn(number) && !isExactlyFirstCell(number), 'highlight': isWellSelected(number) }">
        {{ isFirstRowOrFirstColumn(number)
            ? isFirstColumn(number) ? letters[((number - 1) / (columns + 1)) - 1]  : number - 1
            : ''
        }}
    </div>
</div>